@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-image: url(../img/fon.jpg);
	background-position-x: 50%;
	background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "MyriadProRegular";
	margin: 0px;
}


.center_wrap {
    width: 940px;
    margin: 0 auto;
}

.center_wrap .content {
    position: relative;
    margin: 0 auto;
}

.center_wrap .content .counters {
    padding: 20px;
    overflow: auto;
}

.counters .active {
    color: red;
    cursor: default;
}

.counters a {
    text-decoration: none;
    color: #294991;
    font-weight: bold;
}

.counters .item {
    float: left;
    margin-right: 30px;
}

.counters .amount {
    color: grey;
}

.page {
    width: 900px;
    overflow: auto;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
    background-color: white;
}

.page .content {
    overflow: auto;
    position: relative;
    margin: 0 auto;
}

.page .header {
    background-color: #4391CC;
    color: white;
    font-weight: bold;
    overflow: auto;
}

.page .header .welcome {
    float: left;
    margin: 10px 20px 10px 20px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page .header .nav .item {
    padding: 9px 10px 10px 10px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #3E82BA;
    cursor: pointer;
}

.page .header .exit {
    padding: 9px 10px 10px 10px;
    float: right;
    margin-right: 15px;
}

.page .header .exit a {
    text-decoration: none;
    color: white;
}

.auth-form {
    position: fixed;
    top: 40%;
    left: 40%;
    margin: 0 auto;
    width: 20%;
    min-width: 225px;
    overflow: auto;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
    background-color: white;
    opacity: 0.75;
}

.auth-form .line {
    overflow: auto;
    margin-bottom: 10px;
}

.auth-form .label {
    float: left;
    width: 40%;
    height: 22px;
}

.auth-form .form-control {
    float: left;
    width: 60%;
}

.auth-form input[type="text"] {
    width: 97%;
}

.auth-form input[type="password"] {
    width: 97%;
}

.auth-form input[type="submit"] {
    width: 98%;
}

.auth-form .error {
    text-align: center;
    margin-bottom: 10px;
    color: red;
}

.list .item {
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    overflow: auto;
    background-color: #EAEAEA;
}

.list .new {
    background-color: #F0FFF0;
}

.list .col {
    float: left;
    
}

.list .col-1 {
    width: 35%;
}

.list .col-1 .line .label {
    width: 20%;
}

.list .col-2 {
    width: 16%;
}

.list .col-2 .line .label {
    width: 43%;
}

.list .col-3 {
    width: 35%;
}

.list .col-3 .line .label {
    width: 32%;
}

.list .col-4 {
    width: 14%;
}

.list .col .title {
    color: #294991;
}

.list .col .line .label {
    float: left;
}

.grade {
    width: 100%;
}

.item {
    position: relative;
}

.item .save {
    background-color: #294991;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.item .save:hover {
    background-color: #3E82BA;
}

.item .date {
    position: absolute;
    right: 20px;
    bottom: 10px;
}