/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
.dk_container {
  width: 100%;
  background: #ffffff;
  font-family: arial;
  font-size: 15px;
  border: 1px solid #d8d8d8; }
  .dk_container:focus {
    outline: 0; }
  .dk_container a {
    cursor: pointer;
    text-decoration: none; }

.dk_toggle {
  height: 17px;
  overflow: hidden;
  line-height: 22px;
  padding: 4px 45px 9px 10px;
  background: url(../img/bg-select.png) no-repeat right center;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  position: relative; }

.dk_open {
  z-index: 10; }
  .dk_open .dk_toggle {
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0; }

.dk_open_top .dk_toggle {
  border-bottom: none;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px; }
.dk_open_top .dk_options, .dk_open_top .dk_options_inner {
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0; }

.dk_options {
  background: #fefefe;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px; }
  .dk_options a {
    color: #949a9f;
    padding: 8px 10px; }
  .dk_options a:hover, .dk_options:focus,
  .dk_options .dk_option_current a {
    background-color: #4493CE;
    color: #ffffff;}
  .dk_options li:last-child a {
    border-bottom: none; }
  .dk_options .disabled {
    cursor: default; }
    .dk_options .disabled a {
      color: #aaa; }
    .dk_options .disabled:hover, .dk_options .disabled:hover a
    .dk_options .disabled:focus, .dk_options .disabled:focus a {
      cursor: default;
      background-color: #fff;
      border-bottom-color: #999;}

.dk_options_inner {
  max-height: 250px;
  border: 1px solid #bac4cb;
  border-top: none;
  width: 100%;
  left: -1px;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;}

.dk_container {
  display: none;
  /*float: left;*/ }
  .dk_container a {
    outline: 0; }

.dk_toggle {
  display: -moz-inline-stack;
  display: block;
  *display: inline;
  position: relative;
  zoom: 1; }

.dk_open {
  position: relative; }
  .dk_open .dk_options {
    display: block; }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%; }
  .dk_options a, .dk_options a:link, .dk_options a:visited {
    color: #1a1d1e;
    display: block; }

.dk_options_inner {
  overflow: auto;
  position: relative;
  margin: 0 !important;
  -webkit-overflow-scrolling: touch; }

.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden; }

.dk_mobile {
  position: relative; }
  .dk_mobile select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

.car_name .dk_container {
  border: none;
  background: none;
}
.car_name .dk_toggle {
  padding-left: 30px;
  font-size: 16px;
  color: #05a1db;
  padding-right: 0;
  background: url(../../images/forms/bg-carname-select.png) no-repeat left 11px;
}
.car_name .dk_options {
  font-size: 14px;
  text-transform: none;
}
.car_name .dk_options a {
  padding-top: 3px;
  padding-bottom: 3px;
}

