/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.02.2016, 22:10:52
    Author     : dimuska139
*/

.model-preview {
    height: 308px;
    position: absolute;
    top: 64px;
    width: 508px;
    background-repeat: no-repeat;
    background-position: center;
}

.content .requests {
    overflow: auto;
    width: 100%;
    margin-bottom: 20px;
}

.content .requests .table .head {
    background-color: #4392CD;
    color: white;
    text-transform: uppercase;
    overflow: auto;
    font-size: 10pt;
}

.content .requests .table .head div {
    line-height: 26px;
    float: left;
    font-size: 11px;
    font-family: arial;
	color: white;
}

.content .requests .table .body .line {
    overflow: auto;
    line-height: 36px;
    font-size: 11px;
    font-family: arial;
	color: #4b4b4b;
}

.content .requests .table .body .line div {
   float: left;
}

.content .requests .table .number {
    padding-left: 10px;
    width: 60px;
}

.content .requests .table .car {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	text-transform: uppercase;
	color: #294991;
}

.content .requests .table .sum {
    width: 85px;
}

.odd {
    background-color: #f0f0ff;
}

.body .solution {
    position: relative;
}

.body .solution .error {
    color: red;
}

.body .solution .success {
    text-transform: capitalize;
    color: green;
}

.content .requests .table .region {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .requests .table .solution {
    width: 200px;
	padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .request_list {
    width: 425px;
    float: left;
    margin-right: 10px;
}

.content .request_list .title {
    position: relative;
    background-color: #3C81BA;
}

.content .request_list .title .text{
    text-align: center;
    color: white;
    text-transform: uppercase;
    height: 25px;
    padding-top: 9px;
    font-size: 14px;
}

.content .request_list .title .status {
    text-transform: uppercase;
    position: absolute;
    color: black;
    background-color: #FBD500;
    height: 15px;
    padding-top: 3px;
    left: 0px;
    top: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
	margin-top: 8px;
    margin-left: 8px;
	font-family: arial;
}

.content .solution_list {
    width: 425px;
    float: left;
}

.content .solution_list .title {
    position: relative;
    background-color: #3C81BA;
}

.content .solution_list .title .text {
    text-align: center;
    color: white;
    text-transform: uppercase;
    height: 25px;
    padding-top: 9px;
    font-size: 14px;
}

.content .solution_list .title .status {
    text-transform: uppercase;
    position: absolute;
    color: black;
    background-color: #FBD500;
    height: 15px;
    padding-top: 3px;
    left: 0px;
    top: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    margin-top: 8px;
    margin-left: 8px;
    font-family: arial;
}



.content .left-column {
    margin-top: 20px;
    float: left;
    width: 540px;
}

.content .request {
    border: 1px solid #ECECEC;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	background-color: white;
}

.content .request .title {
	font-size: 24px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content .information {
	margin-top: 20px;
    overflow: auto;
    font-size: 11pt;
    float: right;
    margin-left: 20px;
    width: 300px;
	margin-bottom: 10px;
}

.content .information .title {
    font-size: 16px;
    text-transform: uppercase;
	color: #be0032;
}

.content .information ul {
    padding-left: 20px;
}
.content .information ul li {
    list-style-type: none;
    float: left;
    margin-left: -20px;
    padding-bottom: 15px;
    width: 100%;
}

.content .information ul li span {
    overflow: auto;
    text-align: left;
    display: block;
	font-family: arial;
    font-size: 14px;
}

.content .information ul li:before {
    display: block;
    float: left;
    background-image: url(../img/point-1.png);
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    width: 10px;
    height: 15px;
    margin-right: 10px;
}

.content .information .calc ul li:before {
    background-image: url(../img/point-2.png);
}

.content .banki {
    display: block;
    width: 100%;
	margin-bottom: 20px;
}

.payment-title {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

.payment {
    border: 1px solid #294991;
    color: #294991;
    border-radius: 5px;
    width: 170px;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    font-weight: bold;
    font-size: 24px;
}

.request .body .label-single {
    float: left;
    text-align: right;
    width: 160px;
    line-height: 30px;
	font-family: arial;
    font-size: 15px;
}

.request .body .label-double {
    float: left;
    text-align: right;
    width: 160px;
	font-family: arial;
    font-size: 15px;
}

.request .body .form-ctrl {
    margin-left: 180px;
    width: 250px;
}

.request .body .form-row {
    margin-bottom: 16px;
}

.request .body .form-row input[type="text"] {
    background: #fff;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 252px;
}

#age {
	width: 100px;
}

#phone {
	width: 200px;
}

#price {
	width: 150px;
}

.request .city-img {
    background: url(../img/bg-credit.png) center top no-repeat;
    height: 308px;
    margin-bottom: 25px;
    position: relative;
}

.request .body .form-row .error {
    border-color: #e60000 !important;
}

.request ul {
    padding-left: 0px;
}

.request ul li {
    list-style: none;
}

.form-ctrl {
    position: relative;
}

.request .tip {
    background: #d9d9d9;
    background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#d9d9d9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
    border: 1px solid #acacac;
    border-radius: 50%;
    cursor: help;
    line-height: 22px;
    position: absolute;
    right: -40px;
    text-align: center;
    top: 4px;
    width: 22px;
    z-index: 0;
}

.request .tip .txt {
    background: #222;
    border-radius: 4px;
    color: #fff;
    left: 40px;
    opacity: 0;
    padding: 25px;
    position: absolute;
    transition: visibility 300ms linear, opacity 300ms linear;
    text-align: left;
    top: -15px;
    visibility: hidden;
    width: 240px;
    z-index: 1;
}

.request .tip .txt:before {
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #222 transparent transparent;
    left: -9px;
    content: '';
    height: 0;
    position: absolute;
    top: 17px;
    width: 0;
    z-index: 1;
}

.float_right {
    float: right;
}

.noUi-background {
    background: #149924;
}

.noUi-horizontal {
    height: 4px;
}

.noUi-base {
    height: 100%;
    position: relative;
    width: 100%;
}

.noUi-origin {
    background: #cfcfcf;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.noUi-horizontal .noUi-handle {
    bottom: 8px;
    left: -8px;
}

.noUi-handle {
    background: url(../img/lp-form-slider-handler.png) center top no-repeat;
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 20px;
    z-index: 1;
}

.request .credit-calc {
    margin-top: 30px;
    text-align: center;
	margin-bottom: 10px;
}

#calc-slide {
    color: #149924; 
	font-size: 16px; 
	text-decoration: none; 
	border-bottom: 1px dashed #149924; 
	border: 1px dashed #149924; 
	padding: 6px; 
	border-radius: 6px;
}

#credit-calc-container {
    display: none;
    margin: 0 auto;
    text-align: left;
    width: 80%;
    padding-top: 30px;
	font-size: 15px;
    font-family: arial;
}

.request .credit-calc .payment-year .progressbar{
    margin-left: 205px;
}

.request .credit-calc .payment-year .calc-info {
    float: left;
    margin-top: -8px;
}

#calc-result {
    margin-top: 20px;
}

#calc-result .result {
    font-weight: bold;
}

.submitting {
    background: url(../img/lp-form-cover.png) center bottom no-repeat;
    bottom: -2px;
    color: #fff;
    height: 150px;
    padding-top: 75px;
    position: absolute;
    right: -1px;
    text-align: center;
    width: 540px;
    border-radius: 0px 0px 4px 4px;
}

.submitting .checkpoint {
    font-size: 16px;
    margin: 0 auto 20px;
    padding-left: 25px;
    position: relative;
    text-align: left;
    transition: all 500ms ease-out;
    width: 270px;
	font-size: 16px;
    font-family: arial;
}

.submitting .button {
    background: url(../img/lp-form-button.png) center top no-repeat;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    height: 45px;
    width: 200px;
    margin: 0 auto;
    line-height: 45px;
}

.submitting .button:hover {
    background: url(../img/lp-form-button.png) center bottom no-repeat;
}

.request .body {
    padding-bottom: 200px;
}

.submitting .checkpoint .niceCheck {
    background: url(../img/lp-form-checkbox.png) left top no-repeat;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}

.niceCheck input {
    display: none;
}

.submitting .checkpoint .label {
    cursor: pointer;
}

.submitting .checkpoint .niceCheck input {
    display: none;
}


.request .error {
    border-color: #e60000 !important;
}

.tradein {
	text-align: center;
	font-size: 13px;
    font-family: arial;
	margin-top: 0px;
}

.brands {
    overflow: auto;
    font-size: 11pt;
    float: left;
    width: 320px;
	margin-bottom: 5px;
}

.brands .item {
	list-style: none;
    float: left;
    margin-left: 25px;
    margin-bottom: 15px;
	cursor: pointer;
}

.brands .item .wrapper {
	background: transparent url('../img/catalog-item-bg.png') left top no-repeat;
    width: 80px;
    height: 80px;
    margin-bottom: 3px;
    background-size: cover;
    position: relative;
	border-radius: 6px;
}

.brands .item .wrapper:hover {
	background: transparent url('../img/catalog-item-bg.png') left bottom no-repeat;
}

.brands .item .wrapper .brand-logo {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 100%;
}

.brands .item .brand {
	color: #000;
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    font-family: Arial;
    text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	display: none;
}

.request .body .result-img {
    width: 100%;
    background-image: url('../img/lp-submitted.jpg');
    background-position: center;
    height: 350px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
}

.request .body .result-text {
    text-align: center;
    margin-top: 50px;
	font-size: 15px;
    font-family: arial;
}

.request .submitting .manager-answer {
    font-size: 16px;
    margin-top: 30px;
	font-family: arial;
}

.item .date {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

#first-payment {
    font-weight: bold;
}

.f-p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 16px;
	font-family: arial;
    font-size: 15px;
}

.firstpay-progressbar {
    margin: 0 auto;
    width: 50%;
}

.firstpay-progressbar-value {
    font-weight: bold;
    display: block;
    margin-left: -36px;
    margin-bottom: -10px;
	font-size: 15px;
    font-family: arial;
    
}