.content .page-header {
    width: 900px;
    padding-bottom: 80px;
    position: relative;
}

.page-header .title-line {
    background-color: #4B5B73;
    overflow: auto;
    box-shadow: 0 0 50px rgba(0,0,0,0.6);
}

.page-header .title-line .item {
    height: 85px;
    float: left;
    border-right: 1px solid #424F65;
    color: white;
}

.page-header .title-line .item:last-child {
    border-right: 0px;
}

.page-header .title-line .logo {
    width: 274px;
    height: 85px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
	background-color: #d20032;
}

.page-header .title-line .logo:hover {
    background-color: #be0032;
}

.page-header .title-line .address {
    font-size: 14px;
	font-family: arial;
	width: 214px;
    padding-left: 10px;
}

.page-header .title-line .address:hover {
    background-color: #57667c;
}

.page-header .title-line .address .city {
    background-image: url("../img/street.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position-x: 10px;
    line-height: 28px;
	margin-top: 12px;
}

.page-header .title-line .address .extra {
    padding-left: 10px;
}

.page-header .title-line .item .main-text {
    font-weight: bold;
    font-size: 22px;
}

.page-header .title-line .item .extra-text {
    text-transform: uppercase;
    font-size: 11pt;
    top: 43px;
}

.page-header .title-line .main-number {
    width: 199px;
    position: relative;
}

.page-header .title-line .main-number:hover {
    background-color: #57667c;
}

.page-header .title-line .extra-number {
    width: 200px;
    position: relative;
}

.page-header .title-line .extra-number:hover {
    background-color: #57667c;
}

.page-header .title-line .main-text {
    position: absolute;
    top: 20px;
    left: 30px;
}

.page-header .title-line .extra-text {
    position: absolute;
    font-size: 11px !important;
    top: 48px !important;
    left: 30px;
	font-family: arial;
}

.page-header .brands-line { 
    background-color: #ebebeb;
    overflow: auto;
	padding-bottom: 20px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.page-header .brands-line .item {
    float: left;
    margin: 20px 20px 0px 20px;
    width: 60px;
    overflow: hidden;
}

.page-header .brands-line .item .brand {
    margin: 3px;
}

.page-header .brands-line .item .wrapper {
    display: block;
    background: transparent url('../img/catalog-item-bg.png') left top no-repeat;
    width: 60px;
    height: 60px;
    background-size: cover;
    position: relative;
}


.page-header .brands-line .item .wrapper:hover {
	background: transparent url('../img/catalog-item-bg.png') left bottom no-repeat;
}

.page-header .brands-line .item .wrapper .brand-logo {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 100%;
    background-size: 70% !important;
}

.page-header .brands-line .item .brand {
    color: #000;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
}

.page-header .main-banner .img {
    width: 100%;
    margin-bottom: -6px;
}

.models-line {
    overflow: auto;
    background-color: #ebebeb;
    padding-top: 14px;
    padding-bottom: 14px;
	font-family: arial;
    font-size: 16px;
}

.models-line .item {
    float: left;
    overflow: auto;
    width: 197px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
}

.models-line .item .img {
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
	margin-bottom: 5px;
}

.models-line .item .name {
    text-align: center;
    line-height: 25px;
    color: #3398C8;
    font-weight: bold;
}

.models-line .item .min-price {
    text-align: center;
    color: black;
}

.content .page-header .bottom-title {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 17pt;
    bottom: 25px;
    left: 20px;
}

.content .page-header .complectations-line {
    overflow: auto;
    background-color: #ebebeb;
    padding: 15px;
	font-family: arial;
    font-size: 15px;
}

.content .page-header .complectations-line .item {
    overflow: auto;
    background-color: white;
    margin-bottom: 5px;
}

.content .page-header .complectations-line .item .description {
    display: none;
    padding-left: 30px;
}

.content .page-header .complectations-line .col {
    float: left;
}

.content .page-header .complectations-line .model-name {
    padding-left: 30px;
    width: 120px;
    line-height: 40px;
}

.content .page-header .complectations-line .complectation-name {
    width: 330px;
    line-height: 40px;
}

.content .page-header .complectations-line .price {
    width: 100px;
    font-weight: bold;
    line-height: 40px;
}

.content .page-header .complectations-line .count-credit {
    padding-left: 125px;
}

.content .page-header .complectations-line .count-credit .button {
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    background-color: green;
    color: white;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: -moz-linear-gradient(90deg, rgba(123,167,1,1) 0%, rgba(152,200,17,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(152,200,17,1)), color-stop(100%, rgba(123,167,1,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(123,167,1,1) 0%, rgba(152,200,17,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(123,167,1,1) 0%, rgba(152,200,17,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(123,167,1,1) 0%, rgba(152,200,17,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(123,167,1,1) 0%, rgba(152,200,17,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98C811', endColorstr='#7BA701',GradientType=0 ); /* ie6-9 */
}

.demonstration-list {
    position: relative;
    margin-bottom: 20px;
}

.title-name {
    text-transform: uppercase;
    color: white;
    font-size: 17pt;
    padding-left: 20px;
    line-height: 80px;
}

.box-shadow {
    box-shadow: 0 0 50px rgba(0,0,0,0.6);
}