@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.rub {
    width: 20px;
    height: 26px;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    font-family: "MyriadProRegular";
	margin-top: 0px;
	margin-bottom: 20px;
}

.center_wrap {
    width: 940px;
    margin: 0 auto;
}

.center_wrap .content {
    position: relative;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}

.center_wrap .content .contacts {
    color: #294991;
    overflow: auto;
}

.contacts .phone {
	margin-top: 30px;
    margin-bottom: 10px;
    float: left;
	width: 100%;
    text-align: center;
}

.contacts .phone .title {
	font-size: 14px;
    
}

.contacts .phone .number {
    font-size: 36px;
    font-weight: bold;
}

.contacts .call {
    float: right;
	margin-top: 10px;
}

.contacts .call .call-button {
	height: 21px;
    width: 126px;
    float: right;
    cursor: pointer;
	font-size: 12px;
    color: white;
    text-transform: uppercase;
    background-color: #4493CE;
    border-radius: 4px;
    text-align: center;
    padding-top: 8px;
}

.contacts .call .call-button:hover {
    background-color: #3E82BA;
}

.steps {
    position: relative;
    height: 128px;
    background-color: #d20032;
}

.steps .item, .steps .arrow {
    float: left;
    height: 100%;
}

.steps .documents,
.steps .phone,
.steps .car {
    position: relative;
}

.steps .arrow {
    position: absolute;
    width: 50px;
    left: -20px;
}

.steps .item {
    width: 225px;
}

.steps .paper {
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.steps .documents {
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.steps .phone {
    background-image: url("../img/3.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.steps .car {
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.steps .arrow {
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.steps-description {
    color: white;
    overflow: auto;
    width: 100%;
    background-color: #be0032;
    padding-top: 10px;
    padding-bottom: 10px;
}

.steps-description .item {
    float: left;
    width: 225px;
    text-align: center;
}

.steps-description .item .title {
	text-transform: uppercase;
    font-size: 16px;
}

.steps-description .item .text {
    font-size: 13px;
    font-family: arial;
    margin-top: 3px;
}

.logo-tape {
    position: relative;
    background-color: white;
    height: 150px;
    margin-left: -20px;
    width: 940px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
	border-radius: 8px 8px 0px 0px;
    z-index: 1;
}

.logo-tape .text {
    color: white;
    font-size: 11pt;
}

.logo-tape .left-panel {
    position: relative;
    background-image: url("../img/left-panel.png");
    background-repeat: no-repeat;
    float: left;
    width: 300px;
    height: 100%;
	border-radius: 8px 0px 0px 0px;
}

.logo-tape .right-panel {
    position: relative;
    float: right;
    width: 300px;
    height: 100%;
    background-image: url("../img/right-panel.png");
    background-repeat: no-repeat;
	border-radius: 0px 8px 0px 0px;
}

.logo-tape .right-panel .eagles {
    height: 100%;
    width: 100%;
    background-image: url("../img/eagles.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-position-y: 10%;
	background-position-x: 50%;
}

.logo-tape .right-panel .text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
	font-size: 13px;
    font-family: arial;
}

.logo-tape .left-panel .title {
    position: absolute;
    color: white;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    left: 40px;
    top: 20px;
}

.logo-tape .left-panel .amount {
    position: absolute;
    color: white;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    left: 60px;
    top: 50px;
}

.logo-tape .left-panel .text {
    position: absolute;
    bottom: 20px;
    text-align: left;
    padding-left: 40px;
    width: 100%;
	font-family: arial;
	font-size: 13px;
}

.page .angle {
    position: absolute;
    background-image: url("../img/angle.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 380px;
  //  border-color: #126921 #fff;
 //   border-width: 0 20px 20px 0;
  //  border-style:solid;
}

.page .left-angle {
    left: 0px;
}

.page .right-angle {
    right: 0px;
}

.page {
    margin-left: 20px;
    width: 900px;
    overflow: auto;
    box-shadow: 0 0 50px rgba(0,0,0,0.6);
	background-color: #fafafa;
}

.page .content {
    overflow: auto;
}

.dream {
    height: 250px;
    text-align: center;
	color: #294991;
}

.dream .dream-title {
    padding-top: 65px;
    font-size: 56px;
    display: block;
}

.dream .dream-text {
    font-size: 20px;
	display: block;
}

.dream .dream-text .dream-button {
    text-decoration: initial;
	background: url("../img/bg-button-callback.png") center top no-repeat;
    color: #fff;
    display: inline-block;
    height: 39px;
    line-height: 36px;
    width: 186px;
	margin-left: 5px;
}

.dream .dream-text .dream-button:hover {
	background: url("../img/bg-button-callback.png") center bottom no-repeat;
}